*{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

.header{
    position: fixed;
    top: 0;
    left: -20;
    width: 100%;
    padding: 2rem 9%;
    background-color: rgba( 0, 0, 0, .2);
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
}
.header img{
    border-radius: 50%;
    width: 75px;
}
.header.sticky{
    border-radius: 2rem solid rgba( 0, 0, 0, .2);
}

.logo{
    font-size: 2.5rem;
    color: rgb(106, 67, 169);
    font-weight: 600;
    cursor: default;
    text-decoration: none;
}

.navbar span{
    color: transparent;
}

.navbar a{
    font-size: 1.7rem;
    color: black;
    margin-left: 4rem;
    transition: .3s;
    text-decoration: none;
}

.navbar a:hover, 
.navbar{
    color: rgb(106, 67, 169);
}

#menu-icon{
    font-size: 3.6rem;
    color: white;
    display: none;
}

.buttons{
    width: 80%;
    margin: auto;
    align-items: center;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}
#btn{
    text-align: center;
    margin: auto;
    height: 40px;
    border: none;
    border-radius: 10px;
    background-color: rgb(106, 67, 169);
    color: white;
    font-size: 16px;
    cursor: pointer;
    width: fit-content;
}
.btn a{
    text-decoration: none;
    color: white;
}
#btn:hover{
    box-shadow: 2px 1px 3px 0 rgb(106, 67, 169);
    height: 45px;
}
.main{
    width: 90%;
    margin: auto;
    margin-top: 90px;
    padding: 20px;
    text-align: center;
}
.main h1{
    font-size: 90px;
    color: gray;
}
.main h1 span{
    color: rgb(106, 67, 169);
}
.main ul li{
    list-style: none;
}
.input-box{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}
.main input{
    padding: 20px;
    margin: 20px;
    border: 2px solid rgb(106, 67, 169);
    border-radius: 4px;
}

@media (max-width: 1200px) {
    html{
        font-size: 55%;
    }
}

@media (max-width: 991px) {
    .header{
        padding: 2rem 3%;
    }

    section{
        padding: 10rem 3% 2rem;
    }

    .techstack{
        padding-bottom: 7rem;
    }

    .projects{
        padding-bottom: 7rem;
    }

    .contact{
        min-height: auto;
    }

    .footer{
        padding: 2rem 3%;
    }
}

@media (max-width: 768px) {
    #menu-icon{
        display: block;
    }

    .navbar{
        position: absolute;
        top: 100%;
        left: 0;
        width: 100%;
        padding: 1rem 3%;
        background: var(--bg-color);
        border-top: .1rem solid rgba( 0, 0, 0, .2);
        box-shadow: 0 .5rem 1rem rgba( 0, 0, 0, .2);
        display: none;
    }

    .navbar.active{
        display: block;
    }

    .navbar a{
        padding: 20px;
        display: block;
        font-size: 2rem;
        margin: 3rem 0;
    }
    .hire{
        display: grid;
        grid-template-columns: repeat(1, 1fr);
    }

    .home{
        flex-direction: column;
    }

    .home-content h3{
        font-size: 2.6rem;
    }

    .home-content h1{
        font-size: 5rem;
    }

    .home-img img{
        width: 70vw;
        margin-top: 4rem; 
    }

    .about{
        flex-direction: column-reverse;
    }

    .about img{
        width: 70vw;
        margin-top: 4rem;
    }

    .techstack h2 {
        margin-bottom: 3rem;

    }

    .projects h2{
        margin-bottom: 3rem;
    }

    .projects-container{
        grid-template-columns: repeat(2, 1fr);
    }
}

@media (max-width: 617px) {
    .projects-container{
        grid-template-columns: 1fr;
    }
}

@media (max-width: 450px) {
    html{
        font-size: 50%;
    }
    .header{
       padding: 20px;
    }

    .services{
        width: 90%;
        overflow-x: hidden;
    }
    .footer{
        overflow-x: hidden;
    }
    .contact{
        width: fit-content;
        overflow-x: hidden;
    }
    .prices,
    .hire{
        overflow-x: hidden;
    }
    .services-info{
        display: grid;
        grid-template-columns: repeat(1, 1fr);
    }
    .services-info-box{
        border-bottom: 2px solid gray;
        border-right: none;
    }
    .input-box{
        display: grid;
        grid-template-columns: repeat(1, 1fr);
    }
    .footer{
        font-size: 13px;
        grid-template-columns: repeat(2, 1fr);
    }
}

@media (max-width: 365px){
    .home-img img{
        width: 90vw;
    }
}