*{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

.header{
    min-height: 100vh;
    padding: 8px;
    background-position: center;
    background-size: cover;
    position: relative;
    background-image: linear-gradient(rgba(4,9,30,0.7),rgba(4,9,30,0.7)),url(./img/Maid_Bright_2022_Indoors-288-1024x683.jpg);
}
nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #fff;
}
.nav-links{
    flex: 1;
    text-align: right;
}
.nav-links ul li{
    list-style: none;
    display: inline-block;
    padding: 10px 7px;
    position: relative;
}
.nav-links ul li a{
    color: #fff;
    text-decoration: none;
}
.nav-links ul li:after{
    content: '';
    height: 3px;
    background: crimson;
    width: 0%;
    display: block;
    margin: auto;
}
.nav-links ul li:hover::after{
    width: 100%;
    transition: 0.5s ease;
}
.text-box{
    color: #fff;
    margin: auto;
    width: 90%;
    text-align: center;
}
.text-box h1{
    margin-top: 30px;
    font-size: 60px;
}
.main-box{
    width: 60%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: rgb(44, 23, 97);
    margin-top: 50px;
    padding: 10px;
    border-radius: 15px;
}
.main-box p{
    color: white;
    font-size: 25px;
    width: 80%;
    margin: auto;
    margin-top: 10px;
    margin-bottom: 10px;
    text-align: center;
}
.main-box span{
    color: orange;
}
.buttons{
    width: 80%;
    margin: auto;
    align-items: center;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}
.btn{
    margin: 10px 3px;
    height: 40px;
    border: none;
    border-radius: 10px;
    background-color: orange;
    color: white;
    font-size: 16px;
    cursor: pointer;
}
.btn a{
    text-decoration: none;
    color: white;
}
.btn:hover{
    margin: 1px;
    height: 45px;
}
.service-box img{
    width: 100%;
}
.services{
    width: 90%;
    margin: auto;
    text-align: center;
    align-items: center;
}
.services h3{
    margin: 20px;
    color: gray;
}
.services p{
    font-size: 16px;
    color: gray;
}
.services-info{
    width: 90%;
    margin: auto;
    padding: 20px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}
.services-info-box{
    width: 90%;
    margin: auto;
    padding: 20px;
    border-right: 2px gray solid;
    text-align: left;
}
.services-info-box p,
.services-info-box1 p{
    padding: 10px;
    font-size: 16px;
}
.services-info-box1{
    width: 90%;
    margin: auto;
    padding: 20px;
    text-align: left;
}
.services-info-box h3 span{
    margin: 20px 0;
    color: orange;
    font-size: 40px;
}
.prices{
    background-color: orange;
    color: #fff;
    text-align: center;
    padding: 20px;
}
.prices h3{
    font-size: 30px;
}
.price-table{
    width: 60%;
    margin: auto;
    padding: 20px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}
.prices-box1{
    text-align: left;
    height: 45px;
    background-color: #fff;
    color: gray;
    margin: 2px;
}
.prices-box1 h4{
    padding: 15px;
}
.prices p{
    margin: 18px;
}
.hire{
    width: 80%;
    margin: auto;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    padding: 20px;
}
.hire-box{
    margin: 10px;
}
.hire-box img{
    width: 50%;
    border-radius: 10px;
    box-shadow: 1px 2px 5px 0 black;
}
.hire-box h1{
    color: gray;
    margin-bottom: 10px;
}
.hire-box p{
    font-size: 18px;
    color: gray;
}
.btn1{
    padding: 10px;
    background-color: orange;
    color: white;
    font-size: 14px;
    border: none;
    border-radius: 7px;
    margin-top: 20px;
}
.footer{
    background-color: rgb(42, 20, 97);
    display: grid;
    grid-template-columns: repeat(5, 1fr);
}
.footer-box{
    padding: 25px;
}
.footer-box ul li{
    list-style: none;
    margin: 8px;
    color: #fff;
}
.footer-box span{
    color: orange;
}