*{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

.header{
    position: fixed;
    top: 0;
    left: -20;
    width: 100%;
    padding: 2rem 9%;
    background-color: rgba( 0, 0, 0, .2);
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
}
.header img{
    border-radius: 50%;
    width: 75px;
}
.header.sticky{
    border-radius: 2rem solid rgba( 0, 0, 0, .2);
}

.logo{
    margin-left: 10px;
    font-size: 2.5rem;
    color: rgb(106, 67, 169);
    font-weight: 600;
    cursor: default;
    text-decoration: none;
}

.navbar span{
    color: transparent;
}

.navbar a{
    font-size: 1.7rem;
    color: black;
    margin-left: 4rem;
    transition: .3s;
    text-decoration: none;
}

.navbar a:hover, 
.navbar{
    color: rgb(106, 67, 169);
}

#menu-icon{
    font-size: 3.6rem;
    color: white;
    display: none;
}

.home{
    min-height: fit-content;
    padding: 40px;
    text-align: center;
    background-position: center;
    background-size: cover;
    position: relative;
    background-image: linear-gradient(rgba(4,9,30,0.7),rgba(4,9,30,0.7)),url(./img/Maid_Bright_2022_Indoors-288-1024x683.jpg);
}
.text-box h1{
    margin-top: 50px;
    font-size: 60px;
    color: #fff;
}
.text-box h3{
    font-size: 40px;
    color: #fff;
}

/*.header{
    min-height: fit-content;
    padding: 21px;
    background-position: center;
    background-size: cover;
    position: relative;
    background-image: linear-gradient(rgba(4,9,30,0.7),rgba(4,9,30,0.7)),url(./img/Maid_Bright_2022_Indoors-288-1024x683.jpg);
}
.l{
    display: none;
}
nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #fff;
}
.nav-links{
    flex: 1;
    text-align: right;
}
.nav-links ul li{
    list-style: none;
    display: inline-block;
    padding: 10px 7px;
    position: relative;
}
.nav-links ul li a{
    color: #fff;
    text-decoration: none;
}
.nav-links ul li:after{
    content: '';
    height: 3px;
    background: crimson;
    width: 0%;
    display: block;
    margin: auto;
}
.nav-links ul li:hover::after{
    width: 100%;
    transition: 0.5s ease;
}
.text-box{
    color: #fff;
    margin: auto;
    width: 90%;
    text-align: center;
}
.text-box h1{
    margin-top: 30px;
    font-size: 60px;
}
.buttons{
    width: 80%;
    margin: auto;
    align-items: center;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}*/
#btn{
    margin: 20px;
    height: 40px;
    border: none;
    border-radius: 10px;
    background-color: orange;
    color: white;
    font-size: 16px;
    cursor: pointer;
    padding: 20px;
}
.btn a{
    text-decoration: none;
    color: white;
}
#btn:hover{
   box-shadow: 0 0 .5rem black;
}
.location{
    width: 90%;
    margin: auto;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}
.location-box{
    margin: auto;
    padding: 20px;
}
@keyframes timi {
    0%{
        width: 80%;
    }
    33%{
        width: 100%;
    }
    66%{
        width: 100%;
    }
    100%{
        width: 80%;
    }
}
.location-box img{
    width: 30%;
    border-radius: 10px;
    box-shadow: 0 0 1rem black;
    transition: .5s ease;
    animation-name: timi;
    animation-duration: 3s;
    animation-iteration-count: infinite;
}
.location-box h1{
    color: gray;
}
.location-box form ul li{
    list-style: none;
}
.location-box form ul li input{
    height: 50px;
    margin: 15px;
    padding: 10px;
    width: 80%;
    background-color: lightgray;
    border: none;
    border-radius: 8px;
}
.location-box form ul li input::placeholder{
    color: #fff;
    font-size: 16px;
}
.location-box form ul li input:active{
    border: none;
}
.footer{
    background-color: rgb(42, 20, 97);
    display: grid;
    grid-template-columns: repeat(4, 1fr);
}
.footer-box{
    padding: 25px;
}
.footer-box ul li{
    list-style: none;
    margin: 8px;
    color: #fff;
}
.footer-box ul li i{
    font-size: 39px;
}
.footer-box ul li i:hover{
    color: aqua;
    cursor: pointer;
}
.footer-box ul li a{
    text-decoration: none;
    color: #fff;
}
.footer-box ul li a:hover{
    text-decoration: underline;
}
.footer-box span{
    color: orange;
}
@media(max-width: 729px){
    .main-box{
        display: none;
    }
    .header{
        min-height: fit-content;
    }
    .footer{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
    }
    .prices-box1 h4{
        padding: 7.8px;
    }
    .l{
        display: block;
    }
    .l a{
        color: #fff;
        font-size: 50px;
    }
    .l a:hover{
        color: aqua;
    }
    nav h1{
        display: none;
    }
    .nav-links{
        display: none;
    }
}
@media(max-width: 567px){
    .location{
        width: 90%;
        margin: auto;
        display: grid;
        grid-template-columns: repeat(1, 1fr);
    }
}
@media(max-width: 486px){
    .prices-box1{
        height: 90px;
    }
}
@media(max-width: 384px){
    .services-info{
        width: 90%;
        margin: auto;
        padding: 20px;
        display: grid;
        grid-template-columns: repeat(1, 1fr);
    }
    .footer{
        display: grid;
        grid-template-columns: repeat(1, 1fr);
    }
    .services-info-box{
        border: none;
        border-bottom: 2px gray solid;
    }
    .hire{
        width: 80%;
        margin: auto;
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        padding: 20px;
    }
}
@media(max-width: 353px){
    .text-box h1{
        font-size: 50px;
    }
    .buttons{
        display: grid;
        grid-template-columns: repeat(1, 1fr);
    }
}

@media (max-width: 1200px) {
    html{
        font-size: 55%;
    }
}

@media (max-width: 991px) {
    .header{
        padding: 2rem 3%;
    }

    section{
        padding: 10rem 3% 2rem;
    }

    .techstack{
        padding-bottom: 7rem;
    }

    .projects{
        padding-bottom: 7rem;
    }

    .contact{
        min-height: auto;
    }

    .footer{
        padding: 2rem 3%;
    }
}

@media (max-width: 768px) {
    #menu-icon{
        display: block;
    }

    .navbar{
        position: absolute;
        top: 100%;
        left: 0;
        width: 100%;
        padding: 1rem 3%;
        background: var(--bg-color);
        border-top: .1rem solid rgba( 0, 0, 0, .2);
        box-shadow: 0 .5rem 1rem rgba( 0, 0, 0, .2);
        display: none;
    }

    .navbar.active{
        display: block;
    }

    .navbar a{
        padding: 20px;
        display: block;
        font-size: 2rem;
        margin: 3rem 0;
    }

    .home{
        flex-direction: column;
    }

    .home-content h3{
        font-size: 2.6rem;
    }

    .home-content h1{
        font-size: 5rem;
    }

    .home-img img{
        width: 70vw;
        margin-top: 4rem; 
    }

    .about{
        flex-direction: column-reverse;
    }

    .about img{
        width: 70vw;
        margin-top: 4rem;
    }

    .techstack h2 {
        margin-bottom: 3rem;

    }

    .projects h2{
        margin-bottom: 3rem;
    }

    .projects-container{
        grid-template-columns: repeat(2, 1fr);
    }
}

@media (max-width: 617px) {
    .projects-container{
        grid-template-columns: 1fr;
    }
}

@media (max-width: 450px) {
    html{
        font-size: 50%;
    }

    .contact form .input-box input{
        width: 100%;
    }
}

@media (max-width: 365px){
    .home-img img{
        width: 90vw;
    }

    .footer{
        flex-direction: column-reverse;
    }

    .footer p{
        text-align: center;
        margin-top: 2rem;
    }
}